@model LicenseManagerMvc.Models.Lizenz

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lizenz</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.LizenzId)

        <div class="form-group">
            @Html.LabelFor(model => model.ProgrammId, "ProgrammId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProgrammId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProgrammId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Edition, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edition)
                @Html.ValidationMessageFor(model => model.Edition)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Schluessel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Schluessel)
                @Html.ValidationMessageFor(model => model.Schluessel)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
